<header class="main-header clearfix">
  <nav>
    <ul class="main-navigation">
      <li>
        <p class="nav-a"><%= link_to("Акварель", aquarelles_path) %></p>
        <div class="category-pic">
          <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@aqua.name, @aqua) %></p>
            <%= image_tag @aqua.picture_url, :class => "img1" %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("И еще #{Aquarelle.all.length - 1} картин...", aquarelles_path) %></p>
          </div>
        </div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Гуашь", gouaches_path) %></p>
        <div class="category-pic">
          <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@gouache.name, @gouache) %></p>
            <%= image_tag @gouache.picture_url, :class => "img1" %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("И еще #{Gouache.all.length - 1} картин...", gouaches_path) %></p>
          </div>
        </div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Графика", graphics_path) %></p>
        <div class="category-pic">
          <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@graphics.name, @graphics) %></p>
            <%= image_tag @graphics.picture_url, :class => "img1" %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("И еще #{Graphics.all.length - 1} картин...", graphics_path) %></p>
          </div>
        </div>
        </div>

      </li>
      <li>
        <p class="nav-a"><%= link_to("Граттаж", grattages_path) %></p>
        <div class="category-pic">
        <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@grattage.name, @grattage) %></p>
            <%= image_tag @grattage.picture_url, :class => "img1" %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("И еще #{Grattage.all.length - 1} картин...", grattages_path) %></p>
          </div>
        </div>
        </div>

      </li>
      <li>
        <p class="nav-a"><%= link_to("Масло", oils_path) %></p>
        <div class="category-pic">
          <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@oil.name, @oil) %></p>
            <%= image_tag @oil.picture_url, :class => "img1" %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("И еще #{Oil.all.length - 1} картин...", oils_path) %></p>
          </div>
        </div>
        </div>

      </li>
    </ul>
  </nav>
</header>
