<div class="main clearfix">
<div class="main-header clearfix">
  <nav>
    <ul class="main-navigation">
      <li>
        <p class="nav-a"><%= link_to("Акварель", aquarelles_path) %></p>
        <div class="category-pic">
          <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@aqua.name, @aqua) %></p>
            <%= link_to((image_tag @aqua.picture_url, :class => "img1"), @aqua) %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("Посмотреть все картины раздела 'Акварель'", aquarelles_path) %></p>
          </div>
        </div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Гуашь", gouaches_path) %></p>
        <div class="category-pic">
          <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@gouache.name, @gouache) %></p>
            <%= link_to((image_tag @gouache.picture_url, :class => "img1"), @gouache) %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("Посмотреть все картины раздела 'Гуашь'", gouaches_path) %></p>
          </div>
        </div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Графика", graphics_path) %></p>
        <div class="category-pic">
          <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@graphics.name, @graphics) %></p>
            <%= link_to((image_tag @graphics.picture_url, :class => "img1"), @graphics) %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("Посмотреть все картины раздела 'Графика'", graphics_path) %></p>
          </div>
        </div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Граттаж", grattages_path) %></p>
        <div class="category-pic">
        <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@grattage.name, @grattage) %></p>
            <%= link_to((image_tag @grattage.picture_url, :class => "img1"), @grattage) %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("Посмотреть все картины раздела 'Граттаж'", grattages_path) %></p>
          </div>
        </div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Масло", oils_path) %></p>
        <div class="category-pic">
          <div class="my-category">
          <div class="picture">
            <p class="name-a"><%= link_to(@oil.name, @oil) %></p>
            <%= link_to((image_tag @oil.picture_url, :class => "img1"), @oil) %>
          </div>
          <div class="text">
            <p class="more"><%= link_to("Посмотреть все картины раздела 'Масло'", oils_path) %></p>
          </div>
        </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
</div>
