<div class="main clearfix">
<div class="main-header clearfix">
  <nav>
    <ul class="main-navigation">
      <li>
        <p class="nav-a"><%= link_to("Акварель", aquarelles_path) %></p>
          <div class="my-category">
          <div class="picture">
            <% if @aqua %>
              <%= link_to((image_tag @aqua.picture_url(:resized), :class => "img1"), aquarelles_path) %>
              <div class="name-a"><%= link_to(@aqua.name, @aqua) %></div>
            <% end %>
          </div>
          <div class="more"><%= link_to("Все картины раздела 'Акварель'", aquarelles_path) %></div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Гуашь", gouaches_path) %></p>
        <div class="my-category">
          <div class="picture">
            <% if @gouache %>
              <%= link_to((image_tag @gouache.picture_url(:resized), :class => "img1"), gouaches_path) %>
              <p class="name-a"><%= link_to(@gouache.name, @gouache) %></p>
            <% end %>
          </div>
          <div class="more"><%= link_to("Все картины раздела 'Гуашь'", gouaches_path) %></div>
        </div>

      </li>
      <li>
        <p class="nav-a"><%= link_to("Графика", graphics_path) %></p>
          <div class="my-category">
          <div class="picture">
            <% if @graphics %>
              <%= link_to((image_tag @graphics.picture_url(:resized), :class => "img1"), graphics_path) %>
              <p class="name-a"><%= link_to(@graphics.name, @graphics) %></p>
            <% end %>
          </div>
          <div class="more"><%= link_to("Все картины раздела 'Графика'", graphics_path) %></div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Граттаж", grattages_path) %></p>
        <div class="my-category">
          <div class="picture">
            <% if @grattage %>
              <%= link_to((image_tag @grattage.picture_url(:resized), :class => "img1"), grattages_path) %>
              <p class="name-a"><%= link_to(@grattage.name, @grattage) %></p>
            <% end %>
          </div>
          <div class="more"><%= link_to("Все картины раздела 'Граттаж'", grattages_path) %></div>
        </div>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Масло", oils_path) %></p>
          <div class="my-category">
          <div class="picture">
            <% if @oil %>
              <%= link_to((image_tag @oil.picture_url(:resized), :class => "img1"), oils_path) %>
              <p class="name-a"><%= link_to(@oil.name, @oil) %></p>
            <% end %>
          </div>
          <div class="more"><%= link_to("Все картины раздела 'Масло'", oils_path) %></div>
        </div>
      </li>
    </ul>
  </nav>
</div>
</div>
