
<div class="main-header clearfix">
  <nav>
    <ul class="main-navigation">
      <li>
        <p class="nav-a"><%= link_to("Акварель", aquarelles_path, class: cp(aquarelles_path)) %></p>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Гуашь", gouaches_path, class: cp(gouaches_path)) %></p>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Графика", graphics_path, class: cp(graphics_path)) %></p>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Граттаж", grattages_path, class: cp(grattages_path)) %></p>
      </li>
      <li>
        <p class="nav-a"><%= link_to("Масло", oils_path, class: cp(oils_path)) %></p>
    </ul>
  </nav>
</div>

<div class="my-collection">
  <% @exhibitions.each do |e| %>
  <div class="my">
    <div class="picture2">
      <%= link_to((image_tag e.picture_url(:resized)), e.picture_url(:big), :class => "img2 fancybox") %>
      <p class="name-a"><%= link_to(e.name, e) %></p>
      <div class="text2 clearfix">
        <p class="left"><%= e.description %></p>
        <p class="right"><%= money_without_cents_and_with_symbol e.price %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

