<!DOCTYPE html>
<html>
<head>
  <title>Гостиная живописи Лидии Филатовой</title>
  <link href='https://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div class="contacts clearfix">
        <div class="phone">+7 915 216 9463</div>
        <div class="mail"><%= mail_to("lvt@land.ru") %></div>
        <div class="name"><%= link_to("Лидия Филатова (Тихонравова)", general_static_pages_path) %></div>
      </div>
      <div class="title"><%= link_to("Artistic room", root_path) %></div>
    </header>

    <div class="wrapper clearfix">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    </div>

    <footer>
      <div class="info-left">
        <div class="general"><%= link_to("О сайте", general_static_pages_path) %></div>
      </div>
      <div class="info-right">
        <div class="share"><%= social_share_button_tag("Гостиная живописи Лидии Филатовой", :url => "http://www.artiroom.ru") %></div>
      </div>
    </footer>
  </div>
</body>
</html>
