<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <link href='http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="contacts clearfix">
      <div class="phone">+7 915 216 9463</div>
      <div class="mail"><%= mail_to("lvt@land.ru") %></div>
      <div class="name"><%= link_to("Лидия Филатова (Тихонравова)", root_path) %></div>
    </div>
    <div class="title"><%= link_to("Art gallery", root_path) %></div>
  </header>

  <div class="wrapper clearfix">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  </div>

  <footer>
    <div class="info-left">
      <div class="general"><%= link_to("О сайте", general_static_pages_path) %></div>
    </div>
    <div class="info-right">
      <div class="share"><%= social_share_button_tag("My Home Page", :url => "http://vk.com") %></div>
    </div>
  </footer>
</body>
</html>
